<div id="container">

	<div id="banner">
		<div class="inner">
      <form action="/goals/new/" method="GET">
        I want to: <input name="goal[name]" id="goal" type="text"/> 
        <input type="submit" value="Get Motivated!" />
      </form>    
		</div>
		
		
	</div>		
	<div id="body">
		<div class="inner">
		</div>
	</div>
	
	<div id="footer">
		<div class="inner">
		</div>
	</div>
</div>
<script>
  $("#goal").autocomplete({
        source: ["learn guitar", "lose 40 lbs", "learn spanish", "lift 200 lbs", "live healthier"]
   });
</script>

