Do you want text message reminders to continue working on your goal?

= simple_form_for(@goal, :url => phone_goal_path(@goal), :method =>"POST") do |f|
  %p
    %label Phone
    %input(name="phone_number" type="text")
  %p  
    %label Text Message to Send
    %textarea(name="message" rows="3" cols="70")= @message
  = f.button :submit, "Save"
= link_to "Skip?", goal_path(@goal) 
