Share this goal with your friends on Facebook?

= simple_form_for(@goal, :url => share_goal_path, :method =>"POST") do |f|
  %textarea(name="message" rows="3" cols="70")= @message
  = f.button :submit, "Share"
