Do you want text message reminders to continue working on your goal?

= simple_form_for(@goal, :url => phone_goal_path(@goal), :method =>"POST") do |f|
  %label Phone
  %input(name="phone_number" type="text")
  %textarea(name="message" rows="3" cols="70")= @message
  = f.button :submit, "Save"
= link_to "Skip?", goal_path(@goal) 
