%h1 Make a New Goal 
= render 'form'
:coffeescript
  window.nextStep = () ->
    lastStep = $(".step.active")
    next = lastStep.next(".step")
    if next.length
      next.fadeIn().addClass("active")
      lastStep.hide().removeClass("active")
    else
      $("form").submit()
  window.prevStep = () ->
    step = $(".step.active")
    step.prev(".step").fadeIn().addClass("active")
    step.hide().removeClass("active")

  $ () ->
    $(".next").click () ->
      nextStep()  
    $(".back").click () ->
      prevStep()
